<% if(locals.user) { %>
	<div id='menu'>
		<span class ='name'> <%= user.name %> </span>
		<a href='/sensor'> show sensors </a>
		<a href='/sensor/registeruser'> register sensor </a>
		<a href='/logout'> logout </a>
	</div>

<% } else { %>
	<div id='menu'>
		<a href='/login'> login </a>
		<a href='/register'> register </a>
	</div>
<% } %>

